@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rust-orange: #dd6b20; /* Define the rust-orange color */
}

html {
  transition: background-color 0.3s, color 0.3s;
}

body {
  font-family: 'Roboto', sans-serif;
}

.border-rust-orange {
  border-color: var(--rust-orange);
}

.text-rust-orange {
  color: var(--rust-orange);
  transition: color 0.3s;
}

.text-rust-orange:hover {
  color: darkorange;
}

/* Optional: Add glow effect for buttons */
.glow {
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px #ffa726, 0 0 10px #ff9800, 0 0 15px #fb8c00, 0 0 20px #f57c00;
  }
  to {
    box-shadow: 0 0 10px #ff9800, 0 0 15px #fb8c00, 0 0 20px #f57c00, 0 0 25px #ef6c00;
  }
}
