@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rust-orange: #dd6b20; /* Define the rust-orange color */
}

html {
  transition:
    background-color 0.3s,
    color 0.3s;
}

body {
  font-family: "Roboto", sans-serif;
}

.border-rust-orange {
  border-color: var(--rust-orange);
}

.text-rust-orange {
  color: var(--rust-orange);
  transition: color 0.3s;
}

.text-rust-orange:hover {
  color: darkorange;
}
