@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rust-orange: #dd6b20; /* Define the rust-orange color */
}

* {
  cursor: none; /* Hide the default cursor */
}

html {
  transition: background-color 0.3s, color 0.3s;
}

body {
  font-family: 'Roboto', sans-serif;
}

.border-rust-orange {
  border-color: var(--rust-orange);
}

.text-rust-orange {
  color: var(--rust-orange);
  transition: color 0.3s;
}

.text-rust-orange:hover {
  color: darkorange;
}

/* Optional: Add glow effect for buttons */
.glow {
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px #ffa726, 0 0 10px #ff9800, 0 0 15px #fb8c00, 0 0 20px #f57c00;
  }
  to {
    box-shadow: 0 0 10px #ff9800, 0 0 15px #fb8c00, 0 0 20px #f57c00, 0 0 25px #ef6c00;
  }
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 154.29, 36.84%, 3.73%;
    --card: 0 0% 100%;
    --card-foreground: 154.29, 36.84%, 3.73%;
    --popover: 0 0% 100%;
    --popover-foreground: 154.29, 36.84%, 3.73%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 154.29, 36.84%, 3.73%;
    --foreground: 60 9.1% 97.8%;
    --card: 154.29, 36.84%, 3.73%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 154.29, 36.84%, 3.73%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  opacity: 0.8;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
  background-size: 200% 100%;
  animation: shimmer 3s infinite;
}
